<h1>Most used Data Structure in TypeScript (interface)</h1><br>

<h2>Student Table 1:</h2>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Department</th>
      <th>Subjects</th>
      <th>Total Marks</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.department }}</td>
      <td>
        <ul>
          <li *ngFor="let subject of student.subjects">
            {{ subject.name }}: {{ subject.marks }}
          </li>
        </ul>
      </td>
      <td>{{ getTotalMarks(student) }}</td>
      <td>{{ getRanking(student) }}</td>
    </tr>
  </tbody>
</table>
<br>

<h2>Student Table 2:</h2>
<table>
  <thead>
    <tr>
      <th>Class ID</th>
      <th>Class Name</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Department</th>
      <th>Subjects</th>
      <th>Total Marks</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let classroom of classrooms">
      <tr *ngFor="let student of classroom.students">
        <td>{{ classroom.id }}</td>
        <td>{{ classroom.name }}</td>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.department }}</td>
        <td>
          <ul>
            <li *ngFor="let subject of student.subjects">
              {{ subject.name }}: {{ subject.marks }}
            </li>
          </ul>
        </td>
        <td>{{ getTotalMarks(student) }}</td>
        <td>{{ getRanking_2(student, classroom) }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<br>

<a routerLink="/apiProduct-category" style="font-weight: bold; font-size: larger;">apiProduct-category</a>

<!-- ng-template -->
<!-- It is used to define a block of elements that are not directly rendered to the DOM. 
Instead, they are used as a way to group and organize components and elements in the component's template. -->
<!-- It is used as a template block that can be defined and reused throughout your application. -->
<!-- it is mostly used to create conditional or dynamic content. 
You can use structural directives like ngIf or ngFor to control when and how the template block is rendered. -->