<h2 style="margin-bottom: 40px;">ReactiveForms (from ReactiveFormsModule)</h2>

<form [formGroup]="filterForm">
  <input type="text" formControlName="filter" placeholder="Filter users">
</form>

<ul>
  <li *ngFor="let user of filteredUsers">
    {{ user.name }} ({{ user.username }}) - {{ user.email }}
  </li>
</ul>
<br><br>

<!-- A Form that can't be implemented without the use of Reactive Forms -->
<!-- Note: This Form can also be implemented using both Reactive Forms and Attribute Directive (ngModel) together but can't be implemented without the use of Reactive Forms -->
<h2>A Form that can't be implemented without the use of Reactive Forms --> </h2>
<h3 style="color: crimson; margin-bottom: 40px;">Note: This form can also be implemented using both Reactive Forms and
  Attribute Directive (ngModel) together but can't be implemented without the use of Reactive Forms</h3>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Enter your name">
  <input type="email" formControlName="email" placeholder="Enter your email">
  <input type="password" formControlName="password" placeholder="Enter your password">
  <button type="submit" [disabled]="formGroup.invalid">Submit</button>
</form>

<!-- This Form can also be implemented using both Reactive Forms and Attribute Directive (ngModel) together: -->
<!-- <form #formGroup="ngForm" (submit)="onSubmit()">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Enter your name" required >
  <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required email>
  <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required minlength="8">
  <button type="submit" [disabled]="!formGroup.valid">Submit</button>
</form> -->

<br><br><br><br>

<a routerLink="/builtin-pipes" style="font-weight: bold; font-size: larger;">builtin-pipes</a>