<h1 style="margin-bottom: 40px;">Built-In Pipes</h1>
<!-- Pure pipes: DatePipe, DecimalPipe, PercentPipe, CurrencyPipe, UpperCasePipe, LowerCasePipe, KeyValuePipe, 
and JsonPipe are all pure pipes because they do not have any side effects and their output only depends on their input parameters. -->
<p>DatePipe: {{ today | date }}</p>
<p>DecimalPipe: {{ pi | number:'1.2-3' }}</p>
<p>PercentPipe: {{ rate | percent }}</p>
<p>CurrencyPipe: {{ price | currency:'USD':'symbol':'1.2-2' }}</p>
<p>UpperCasePipe: {{ message | uppercase }}</p>
<p>LowerCasePipe: {{ message | lowercase }}</p>
<p>KeyValuePipe: {{ user | keyvalue | json }}</p>
<p>JsonPipe: {{ user | json }}</p>
<!-- Impure pipe: AsyncPipe is an impure pipe because it has side effects (i.e., it subscribes to an observable) 
and its output can change over time depending on the state of the observable. -->
<h4>AsyncPipe: {{ message$ | async }}</h4>
<button type="button" (click)="resend()">Resend</button>
<br><br><br><br>

<a routerLink="/custom-pipe" style="font-weight: bold; font-size: larger;">custom-pipe</a>