<h1>Observable Use Cases</h1><br>
<h2 style="color: crimson">Asynchronous data handling & Data transformation</h2>
<div *ngIf="isLoading">
  Loading...
</div>
<ul *ngIf="!isLoading">
  <li *ngFor="let item of items">{{ item }}</li>
</ul>
<button (click)="fetchData()">Fetch Data</button>
<button (click)="cancelRequest()">Cancel Request</button>
<br><br><br>

<h2 style="color: crimson">Event handling & Reactive programming</h2>
<button (click)="startEvents()">Start Events</button>
<button (click)="stopEvents()" [disabled]="!eventsStarted">Stop Events</button>
<ul>
  <li *ngFor="let event of events">{{ event }}</li>
</ul>

<br><br><br>
<a style="color: green" target="_blank"
  href="https://docs.google.com/document/d/1ROdCefaJduy7A0FTDrBVjIg_d6R5Br1o60vxs0i1Z60/edit?usp=share_link">When we
  don't need observables, should we use it or ignore it?</a>
<br><br><br><br>

<a routerLink="/observable-with-operators" style="font-weight: bold; font-size: larger;">observable-with-operators</a>