<div>
  <h1>FakeStore App</h1>
  <div>
    <h2>Categories: (click on the list --> )</h2>
    <ul>
      <li *ngFor="let category of categories" (click)="onCategorySelected(category)">
        {{ category }}
      </li>
    </ul>
  </div>
  <div>
    <h2>Selected Category: {{ selectedCategory }}</h2>
    <h2>Products:</h2>
    <ul>
      <li *ngFor="let product of products">
        {{ product.title }}
      </li>
    </ul>
  </div>
</div>
<br><br>
<a routerLink="/observable-use-cases">observable-use-cases</a>