table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th {
  border: 1px solid crimson;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: lightgrey;
}

td {
  border: 1px solid crimson;
  padding: 10px;
}

a {
  color: blue;
  text-decoration: underline;
  font-weight: normal; /* Removing bold from links */
}

a:hover {
  color: crimson;
}

.description {
  font-size: 0.9rem;
  color: grey;
  margin-top: 5px;
}
