<table class="routes-table">
  <thead>
    <tr>
      <th class="routes-header">Title</th>
      <th class="routes-header">Link</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let route of routes">
      <ng-container *ngIf="route.path">
        <td class="routes-cell">
          <div class="route-title">
            {{ formatTitle(route.path) }}
          </div>

          <div
            *ngIf="getUseCaseLabel(route.path)"
            class="use-case-label"
          >
            {{ getUseCaseLabel(route.path) }}
          </div>

          <ul class="description-list">
            <li
              *ngFor="let line of splitDescription(route.path)"
            >
              {{ line }}
            </li>
          </ul>
        </td>

        <td class="routes-cell">
          <a
            [routerLink]="['/', route.path]"
            class="route-link"
          >
            {{ formatTitle(route.path) }}
          </a>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>