<h2 style="margin-bottom: 40px;">BehaviorSubject Use Cases</h2>

<!-- Use Case 1: Sharing state across components -->
<h3 style="color: crimson">Sharing state across components --> </h3>
<input type="text" [(ngModel)]="message">
<button (click)="shareState()">Share State to Child</button><br><br>
<app-child-behavior-subject-use-case-one></app-child-behavior-subject-use-case-one>
<br><br>
<!-- This **[Use Case 1]** is mostly used in e-commerce app. For example: we can think of Shared State to Child button as add to card button of the product 
and the shared state as shopping basket🧺 of the shopping cart. Now we can think of how the Shared State is changing is like the number of state changing 
from 0 to 1-2-3... of the shopping basket🧺 of the shopping cart. So, in the e-commerce app we can think of we're sharing the state of 
HomeComponent(holds the product-elements)/parentComponent to the cartComponent(holds the basket-element)/childComponentlike how 
we're sharing the state of BehaviorSubjectUseCasesComponent to the ChildBehaviorsubjectComponent. -->

<!-- Use Case 2: Caching -->
<!-- When the application starts, the cached data is null. -->
<!-- When the component needs to fetch data, it first checks if there is cached data available in the BehaviorSubject. 
If there is cached data, it retrieves the data from the BehaviorSubject and returns it without making an API call. -->
<!-- If there is no cached data available, the component makes an API call to fetch the data. -->
<!-- When the API call returns, the component stores the data in the BehaviorSubject using the next() method. -->
<!-- Any component that subscribes to the BehaviorSubject receives the cached data emitted by the BehaviorSubject. -->
<!-- By using BehaviorSubject as a cache, we can avoid making unnecessary API calls, resulting in faster and more efficient performance. -->
<h3 style="color: crimson">Caching --> </h3>
<button (click)="fetchData()">Fetch Data</button>
<button (click)="getCachedData()">Get Cached Data in the console</button>
<p>Data: {{ cachedData$ | async | json }}</p>
<p *ngIf="(cachedData$ | async)?.length === 0">No data available</p>
<div style="border: 1px solid crimson;">
  <app-child-behavior-subject-use-case-two *ngIf="(cachedData$ | async)?.length > 0"
    [products]="cachedData$ | async"></app-child-behavior-subject-use-case-two>
  <!-- property binding syntax [propertyName]="propertyValue" -->
</div>
<br><br>

<!-- Use Case 3: Event Bus -->
<!-- Event Bus is a mechanism for components to communicate with each other through a centralized event system.
[In this case the centralized event system is our AuthService and the event bus is the BehaviorSubject's instance inside of the AuthService] 
When a component wants to communicate with another component, it emits an event through the Event Bus, 
and any component that is subscribed to that event can receive the data. -->
<h3 style="color: crimson">Event Bus --> </h3>
<button (click)="login()">Log In</button>
<br><br>
<div style="border: 1px solid crimson;">
  <app-child-behavior-subject-use-case-three></app-child-behavior-subject-use-case-three>
</div>
<br><br>

<!-- Use Case 4: User Input -->
<h3 style="color: crimson">User Input --> </h3>
<input type="text" #input1 (input)="updateInput(input1.value)">
<h3>Input: {{inputValue}}</h3>
<br>

<!-- Use Case 5: Real-time Updates -->
<h3 style="color: crimson">Real-time Updates --> </h3>
<h3>Chat Room: </h3>
<ul>
  <li *ngFor="let message of messages$ | async">{{message}}</li>
</ul>
<input type="text" #input2 (input)="sendMessage(input2.value)">
<br><br><br><br>

<a routerLink="/directive-http-client" style="font-weight: bold; font-size: larger;">directive-http-client</a>