<h1 style="margin-bottom: 50px;">{{ title }}</h1>
<!-- Subscribe to the greeting$ Observable and display the result -->
<h3 style="color: crimson">{{ greeting$ | async }}</h3>

<!-- Subscribe to the items$ Observable and display the results in a list -->
<ul>
  <li *ngFor="let item of items$ | async">{{ item.name }} - {{ item.description }}</li>
</ul>

<h3 style="margin-top: 35px;">Type in the input field - UI will show you the Last Key Pressed:</h3>
<!-- Display the last key pressed -->
<p>Last key pressed: {{ lastKeyPressed }}</p>

<!-- Press any key to update the last key pressed -->
<input type="text" (keydown)="updateLastKeyPressed($event)" />
<br><br>

<h3>Click on the Button / click on outside of the Button of the UI(document) - Browser console will show you the Emitted
  event --> </h3>
<h3>Button (click) will create a new Observable which will collect all the lastKeyPressed in the input field and will
  update the UI: </h3>
<!-- A button to trigger the switchMap example -->
<button id="myButton">Click me!</button>
<br><br><br><br>

<a routerLink="/behavior-subject-use-cases" style="font-weight: bold; font-size: larger;">behavior-subject-use-cases</a>